<template name="sitesIndex">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>            
            <li class="active">index</li>
        </ol>
        
        <h2>{{welcomeMessage}}</h2>
        
        <div class="alert alert-success">Congratulation, you have successfully created your Meteoris Backend Apps.</div>
        
        <p>You can check the <a href="{{pathFor 'postsIndex'}}">Posts</a> demo to quickly getting started about how to use Meteoris.
            <br/>For further detail, please read our <a href="http://piyiku.biz/backend/web/blog/view?id=17" target="_blank">documentation</a>.
        <br/>Feels free to ask me radiegtya@yahoo.co.id, or if you find any bug or issues please report at <a href="https://github.com/radiegtya/meteoris" target="_blank">https://github.com/radiegtya/meteoris.</a></p>
    </div>
</template>