<template name="sitesIndex">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>            
            <li class="active">index</li>
        </ol>
        
        <h2>{{welcomeMessage}}</h2>
        
        <div class="alert alert-success">Congratulations!  You have successfully created your Meteoris Backend App.
        </div>
        
        <p>You can check the <a href="{{pathFor 'postsIndex'}}">Posts</a> demo to quickly get started with Meteoris.
        </p>

        <p>For further details, please read our <a href="http://avocadofloat.com/publicDocs/index/Ku9o2ZJS9k3nPZtzy" target="_blank">documentation</a>.
        </p>

        <p>Feel free to email me <a href="mailto:radiegtya@yahoo.co.id">radiegtya@yahoo.co.id</a>, or, if you find any bugs or issues, please report them at <a href="https://github.com/radiegtya/meteoris" target="_blank">https://github.com/radiegtya/meteoris.</a>
        </p>
    </div>
</template>