<template name="sitesIndex">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>            
            <li class="active">index</li>
        </ol>
        
        Welcome to My Apps.
        
        Congratulation, you have successfully created your Meteoris Framework Apps.
        
        You can check the "Posts" demo to quickly getting started about how to use Meteoris Framework.
        For further detail, please read our <a href="http://piyiku.biz">documentation</a>.
        Feels free to ask me radiegtya@yahoo.co.id, or if you find any bug or issues please report at https://github.com/radiegtya/meteoris.
    </div>
</template>