<template name="galleries_form">
    <form id="galleries_form"> 
        <div class="form-group {{#if error 'imageId'}}has-error{{/if}}">
            <label for="imageId" class="control-label">Gambar *</label>
            <input type="file" id="image" class="form-control">
            <span class="help-block">{{error "imageId"}}</span>
        </div>
        <button id="btnInsertGallery" type="submit" class="btn btn-success">Submit</button>                
        <!--<a href="{{pathFor 'galleriesIndex'}}" class="btn btn-default">Back</a>-->                        
    </form>
</template>

