<template name="workshopsCategories_form">
    <form id="workshopsCategories_form"> 
        <div class="form-group {{#if error 'categoryId'}}has-error{{/if}}">
            <label for="categoryId" class="control-label">Kategori *</label>
            <select id="categoryId" class="form-control">
                <option value="">-- Pilih Kategori --</option>
                {{#each categories}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <span class="help-block">{{error "categoryId"}}</span>
        </div>
        <button id="btnInsertWorkshopCategory" type="submit" class="btn btn-success">Submit</button>                
        <!--<a href="{{pathFor 'workshopsCategoriesIndex'}}" class="btn btn-default">Back</a>-->                        
    </form>
</template>

