<template name="mugenRoleGroupsUpdate">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">{{_ "Home"}}</a></li>
            <li><a href="{{pathFor 'mugenRoleGroupsIndex'}}">{{_ "mugen"}} : {{_ "role_group" count=2}}</a></li>
            <li class="active">{{_ "Update"}}</li>
        </ol>

        <div id="basic-form">
            <div class="title">
                <h3 class="pull-left">{{_ "mugen"}} : {{_ "role_group" count=2}} -- {{_ "Update"}}</h3>
            </div>
            <div class="clearfix"></div>

            {{> mugenRoleGroups_form model}}  
        </div>        
    </div>
</template>