<template name="frontend_postsView">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'frontend_sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'frontend_postsIndex'}}">Posts</a></li>
            <li class="active">view</li>
        </ol>

        {{#with model}}
        <div class="title">
            <div class="toolbar pull-right">
                <a href="{{pathFor 'frontend_postsIndex'}}" class="btn btn-default">Back</a> 
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="post-view">
            <img class="post-view-image" src="{{image.url}}"/>
            <h1>{{title}}</h1>
            <small>by {{createdUser.profile.name}} at {{meteorisFormatter "dateTime" createdDate}}</small>
            <div>{{content}}</div>
        </div>
        
<!--            <td><b>Updated at</b></td>
            <td>{{meteorisFormatter "date" updatedDate}}</td>
            <td><b>Updated By</b></td>
            <td>{{updatedUser.profile.name}}</td>-->
        {{/with}}
    </div>
</template>