<template name="confirmations_form">
    <form id="confirmations_form"> 
        <div class="form-group {{#if error 'name'}}has-error{{/if}}">
            <label for="name" class="control-label">Nama *</label>
            <input type="text" id="name" value="{{name}}" placeholder="Nama" class="form-control">
            <span class="help-block">{{error "name"}}</span>
        </div>
        <div class="form-group {{#if error 'provinceId'}}has-error{{/if}}">
            <label for="provinceId" class="control-label">Provinsi *</label>
            <select id="provinceId" class="form-control">
                <option value="">-- Pilih Provinsi --</option>
                {{#each provinces}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <span class="help-block">{{error "provinceId"}}</span>
        </div>
       <div class="form-group {{#if error 'positionId'}}has-error{{/if}}">
            <label for="positionId" class="control-label">Jabatan *</label>
            <select id="positionId" class="form-control">
                <option value="">-- Pilih Jabatan --</option>
                {{#each positions}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <span class="help-block">{{error "positionId"}}</span>
        </div>
        <button id="btnInsertConfirmation" type="submit" class="btn btn-success">Submit</button>                
        <!--<a href="{{pathFor 'confirmationsIndex'}}" class="btn btn-default">Back</a>-->                        
    </form>
</template>

