<template name="posts_form">
    <form id="posts_form">
        <div class="form-group {{#if error 'name'}}has-error{{/if}}">
            <label for="name" class="control-label">Name *</label>
            <input type="text" id="name" value="{{model.name}}" placeholder="Nama" class="form-control" autofocus="true">
            <span class="help-block">{{error "name"}}</span>
        </div>
        <input class="btnSave" type="submit" value="Save"/>
        <input class="btnCancel" type="submit" value="Cancel"/>
    </form>
</template>

