<template name="usersInsert">    
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">{{_ "Home"}}</a></li>
            <li><a href="{{pathFor 'usersIndex'}}">{{_ "user" count=2}}</a></li>
            <li class="active">{{_ "Insert"}}</li>
        </ol>

        <div id="basic-form">
            <div class="title">
                <h3 class="pull-left">{{_ "Insert"}} {{_ "user"}}</h3>
            </div>
            <div class="clearfix"></div>
            {{> users_form}}  
        </div>        
    </div>
</template>
