<template name="usersLogin">
    <div class="container sign-form">
        <div class="row">
            <div  class="col-md-4 col-md-offset-4">
                <h3 class="text-center logo" style="margin: 80px 0 30px 0"><img src="/svg/logo.svg"/> {{app "name"}}</h3>
                
                <form id="loginForm">
                    <div class="form-group">
                        <a id="btnLoginFacebook" class="btn btn-facebook btn-block btn-lg">
                        <i class="fa fa-facebook pull-left"></i>{{_ "Sign In with Facebook"}}</a>
                    </div>
                    <div class="divider-or" style="content:EH !important;"></div>
                    <div class="form-group">
                        <label class="sr-only" for="email">{{_ "Email"}}</label>
                        <input type="text" class="form-control input-lg" id="email" placeholder="{{_ 'Email'}}" autofocus>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">{{_ "Password"}}</label>
                        <input type="password" class="form-control input-lg" id="password" placeholder="{{_ 'Password'}}">
                    </div>
                    <div class="form-group">
                        <input id="btnLogin" class="btn btn-danger btn-block btn-lg btn-red" type="submit" value="{{_ 'Login'}}"/>
                    </div>
                </form>
                <br/>
                <p class="text-center">{{_ "demo_hint" uidadmin="admin" emadmin="admin@meteoris.me" pwdadmin="admin"
                                                       uiddemo="demo" emdemo="demo@meteoris.me" pwddemo="demo"}}</p>
                <p class="text-center"><a href="{{pathFor 'usersForgetPassword'}}">{{_ "Forget Password?"}}</a></p>
                <p class="text-center"><a href="{{pathFor 'usersRegister'}}">{{_ "Don't have an account yet? Register here!"}}</a></p>
                <div class="divider-or"></div>
                <p class="text-center"><a href="{{pathFor 'sitesIndex'}}">{{_ "Back to"}} {{app "name"}} {{_ "Frontend"}}</a></p>
            </div>
        </div>
    </div>
</template>
