<template name="usersRegister">
    <div class="container sign-form">
        <div class="row">
            <div  class="col-md-4 col-md-offset-4">
                <h3 class="text-center logo" style="margin: 80px 0 30px 0"><img src="/svg/logo.svg"/> {{app "name"}}</h3>
                <form role="form">
                    <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        <input type="text" class="form-control input-lg" id="email" placeholder="Email">
                    </div>                        
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control input-lg" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="name">Name</label>
                        <input type="text" class="form-control input-lg" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input id="btnRegister" class="btn btn-danger btn-red btn-block btn-lg" type="submit" value="Register"/>
                    </div>
                </form>
                <p class="text-center"><a href="{{pathFor 'usersLogin'}}">Already have account? Log In here</a></p>
            </div>
        </div>
    </div>
</template>