<template name="usersRegister">
    <div class="container">
        <div class="row">
            <div  class="col-md-4 col-md-offset-4">
                <h3 class="text-center" style="margin: 80px 0 40px 0">Register {{app "name"}}</h3>
                <form role="form">
                    <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        <input type="text" class="form-control input-lg" id="email" placeholder="Email">
                    </div>                        
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control input-lg" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="name">Name</label>
                        <input type="text" class="form-control input-lg" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input class="btnRegister btn btn-success btn-block btn-lg" type="submit" value="Register"/>
                    </div>
                </form>
                <div class="divider-or"></div>
                <a  href="{{pathFor 'usersLogin'}}" class="btn btn-primary btn-lg btn-block">Back to Login Page</a>
            </div>
        </div>
    </div>
</template>