<template name="usersView">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">{{_ "Home"}}</a></li>
            <li><a href="{{pathFor 'usersIndex'}}">{{_ "user" count=2}}</a></li>
            <li class="active">{{_ "View"}}</li>
        </ol>

        {{#with model}}
        <div class="title">
            <h3 class="pull-left">{{_ "user"}}</h3>
            <h5 class="pull-right">ID = #{{_id}}</h5>
            <div class="toolbar pull-right">
                <a href="{{pathFor 'usersIndex'}}" class="btn btn-default">{{_ "Back"}}</a> 
                <a href="{{pathFor 'usersUpdate'}}" class="btn btn-info">{{_ "Update"}}</a>
                <a id="btnRemove" class="btn btn-danger">{{_ "Remove"}}</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <table class="table">
            <tbody>
                <tr>
                    <td><b>{{_ "Email"}}</b></td>
                    <td>{{emails.[0].address}}</td>
                </tr>
                <tr>
                    <td><b>{{_ "Name"}}</b></td>
                    <td>{{profile.name}}</td>
                </tr>                
                <tr>
                    <td><b>{{_ "role_group"}}</b></td>
                    <td>{{mugenRoleGroup.name}}</td>
                </tr>    
                <tr>
                    <td><b>{{_ "Created At"}}</b></td>
                    <td>{{meteorisFormatterDateTime createdAt "ll"}}</td>
                </tr>                            
            </tbody>
        </table>        
        {{/with}}
    </div>
</template>
