<template name="frontendSitesIndex">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'frontendSitesIndex'}}">Home</a></li>            
            <li class="active">index</li>
        </ol>

        <h2>Welcome to My Frontend Apps</h2>

        <div class="alert alert-success">Congratulation, you have successfully created your Meteoris Frontend Apps.</div>

        <p>You can check the <a href="{{pathFor 'frontendPostsIndex'}}">Posts</a> demo to quickly getting started about how to use Meteoris.
            <br/>For further detail, please read our <a href="http://piyiku.biz/frontend/web/blog/view?id=17" target="_blank">documentation</a>.
            <br/>Feels free to ask me radiegtya@yahoo.co.id, or if you find any bug or issues please report at <a href="https://github.com/radiegtya/meteoris" target="_blank">https://github.com/radiegtya/meteoris.</a></p>

        <div id="home">
            <div id="app-status-div">
                <ul id="app-status-ul">
                    <li>Cordova PushNotification Plugin Demo</li>
                </ul>
            </div>
        </div>
    </div>
</template>