<template name="comments_form">
    <form id="comments_form"> 
        <div class="form-group {{#if error 'workshopId'}}has-error{{/if}}">
<label for="workshopId" class="control-label">Workshop *</label>
<input type="text" id="workshopId" value="{{workshopId}}" placeholder="Workshop" class="form-control">
<span class="help-block">{{error "workshopId"}}</span>
</div>
<div class="form-group {{#if error 'name'}}has-error{{/if}}">
<label for="name" class="control-label">Nama *</label>
<input type="text" id="name" value="{{name}}" placeholder="Nama" class="form-control">
<span class="help-block">{{error "name"}}</span>
</div>
<div class="form-group {{#if error 'provinceId'}}has-error{{/if}}">
<label for="provinceId" class="control-label">Provinsi *</label>
<input type="text" id="provinceId" value="{{provinceId}}" placeholder="Provinsi" class="form-control">
<span class="help-block">{{error "provinceId"}}</span>
</div>
<div class="form-group {{#if error 'categoryId'}}has-error{{/if}}">
<label for="categoryId" class="control-label">Kategori *</label>
<input type="text" id="categoryId" value="{{categoryId}}" placeholder="Kategori" class="form-control">
<span class="help-block">{{error "categoryId"}}</span>
</div>
<div class="form-group {{#if error 'speakerId'}}has-error{{/if}}">
<label for="speakerId" class="control-label">Pembicara *</label>
<input type="text" id="speakerId" value="{{speakerId}}" placeholder="Pembicara" class="form-control">
<span class="help-block">{{error "speakerId"}}</span>
</div>
<div class="form-group {{#if error 'positionId'}}has-error{{/if}}">
<label for="positionId" class="control-label">Jabatan </label>
<input type="text" id="positionId" value="{{positionId}}" placeholder="Jabatan" class="form-control">
<span class="help-block">{{error "positionId"}}</span>
</div>
<div class="form-group {{#if error 'question'}}has-error{{/if}}">
<label for="question" class="control-label">Pertanyaan *</label>
<input type="text" id="question" value="{{question}}" placeholder="Pertanyaan" class="form-control">
<span class="help-block">{{error "question"}}</span>
</div>

        <button id="btnSave" type="submit" class="btn btn-success">Submit</button>                
        <a href="{{pathFor 'commentsIndex'}}" class="btn btn-default">Back</a>                        
    </form>
</template>

