<template name="comments_form">
    <form id="comments_form"> 
        <div class="form-group {{#if error 'name'}}has-error{{/if}}">
            <label for="name" class="control-label">Nama *</label>
            <input type="text" id="name" value="{{name}}" placeholder="Nama" class="form-control">
            <span class="help-block">{{error "name"}}</span>
        </div>
        <div class="form-group {{#if error 'provinceId'}}has-error{{/if}}">
            <label for="provinceId" class="control-label">Provinsi *</label>
            <select id="provinceId" class="form-control">
                <option value="">-- Pilih Provinsi --</option>
                {{#each provinces}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <span class="help-block">{{error "provinceId"}}</span>
        </div>
        <div class="form-group {{#if error 'categoryId'}}has-error{{/if}}">
            <label for="categoryId" class="control-label">Kategori *</label>
            <select id="categoryId" class="form-control">
                <option value="">-- Pilih Kategori --</option>
                {{#each categories}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <span class="help-block">{{error "categoryId"}}</span>
        </div>
        <div class="form-group {{#if error 'speakerId'}}has-error{{/if}}">
            <label for="speakerId" class="control-label">Pembicara *</label>
            <select id="speakerId" class="form-control">
                <option value="">-- Pilih Pembicara --</option>
                {{#each speakers}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <span class="help-block">{{error "speakerId"}}</span>
        </div>
        <div class="form-group {{#if error 'positionId'}}has-error{{/if}}">
            <label for="positionId" class="control-label">Jabatan </label>
            <select id="positionId" class="form-control">
                <option value="">-- Pilih Jabatan --</option>
                {{#each positions}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <span class="help-block">{{error "positionId"}}</span>
        </div>
        <div class="form-group {{#if error 'question'}}has-error{{/if}}">
            <label for="question" class="control-label">Pertanyaan *</label>
            <textarea id="question" class="form-control" rows="5">{{quesstion}}</textarea>
            <span class="help-block">{{error "question"}}</span>
        </div>

        <button id="btnInsertComment" type="submit" class="btn btn-success">Submit</button>                
        <!--<a href="{{pathFor 'commentsIndex'}}" class="btn btn-default">Back</a>-->                        
    </form>
</template>

