<template name="downloads_form">
    <form id="downloads_form"> 
        <div class="form-group {{#if error 'fileId'}}has-error{{/if}}">
            <label for="fileId" class="control-label">File *</label>
            <input type="file" id="file" class="form-control">
            <span class="help-block">{{error "fileId"}}</span>
        </div>
        <div class="form-group {{#if error 'name'}}has-error{{/if}}">
            <label for="name" class="control-label">Nama </label>
            <input type="text" id="name" value="{{name}}" placeholder="Nama" class="form-control">
            <span class="help-block">{{error "name"}}</span>
        </div>
        <button id="btnInsertDownload" type="submit" class="btn btn-success">Submit</button>                
        <a href="{{pathFor 'downloadsIndex'}}" class="btn btn-default">Back</a>                        
    </form>
</template>

