<head>
    <title>Meteorisme</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="http://www.piyiku.biz/frontend/web/themes/piyiku-frontend/images/icon.png">
</head>
<template name="layout">       
    {{#if isDesktop}}
    {{>yield region="piyikuFlash"}}
    {{>yield region="header"}}
    {{>yield region="menu"}}
    {{>yield}}
    {{>yield region="footer"}}
    {{/if}}

    {{#if isPhone}}
    {{>yield region="piyikuFlash"}}
    {{>yield region="headerPhone"}}
    {{>yield region="menuPhone"}}
    {{>yield}}
    {{>yield region="footerPhone"}}
    {{/if}}
</template>








