<head>
    <title>Meteoris</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/svg/logo.svg">
</head>
<template name="layout">       
    {{#if isDesktop}}
    {{>yield region="meteorisFlash"}}
    <div class="content">
        {{>yield region="header"}}
        {{>yield region="menu"}}
        {{>yield}}
    </div>
    {{>yield region="footer"}}
    {{/if}}

    {{#if isPhone}}
    {{>yield region="meteorisFlash"}}
    {{>yield region="headerPhone"}}
    {{>yield region="menuPhone"}}
    {{>yield}}
    {{>yield region="footerPhone"}}
    {{/if}}
</template>








