<template name="backend_postsInsert">    
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'backend_sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'backend_postsIndex'}}">Posts</a></li>
            <li class="active">insert</li>
        </ol>

        <div id="basic-form">
            <div class="title">
                <h3 class="pull-left">Insert Post</h3>
            </div>
            <div class="clearfix"></div>

            {{> backend_posts_form}}  
        </div>        
    </div>
</template>