<template name="backendPostsUpdate">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'backendSitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'backendPostsIndex'}}">Posts</a></li>
            <li class="active">update</li>
        </ol>

        <div id="basic-form">
            <div class="title">
                <h3 class="pull-left">Update Post</h3>
            </div>
            <div class="clearfix"></div>

            {{#with model}}
            {{> backendPosts_form}}  
            {{/with}}
        </div>        
    </div>
</template>