<template name="workshopsSpeakers_form">
    <form id="workshopsSpeakers_form"> 
        <div class="form-group {{#if error 'speakerId'}}has-error{{/if}}">
            <label for="speakerId" class="control-label">Pembicara *</label>
            <select id="speakerId" class="form-control">
                <option value="">-- Pilih Pembicara --</option>
                {{#each speakers}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <span class="help-block">{{error "speakerId"}}</span>
        </div>
        <button id="btnInsertWorkshopSpeaker" type="submit" class="btn btn-success">Submit</button>                
        <a href="{{pathFor 'workshopsSpeakersIndex'}}" class="btn btn-default">Back</a>                        
    </form>
</template>

