<template name="workshopsSpeakersView">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'workshopsSpeakersIndex'}}">WorkshopsSpeakers</a></li>
            <li class="active">view</li>
        </ol>

        {{#with model}}
        <div class="title">
            <h3 class="pull-left">View WorkshopsSpeakers #{{_id}}</h3>
            <div class="toolbar pull-right">
                <a href="{{pathFor 'workshopsSpeakersIndex'}}" class="btn btn-default">Back</a> 
                <a href="{{pathFor 'workshopsSpeakersUpdate'}}" class="btn btn-info">Update</a>
                <a id="btnRemove" class="btn btn-danger">Remove</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Workshop</b></td>
                    <td>{{workshopId}}</td>
                </tr>
                <tr>
                    <td><b>Pembicara</b></td>
                    <td>{{speakerId}}</td>
                </tr>

                <!--                <tr>
                                    <td><b>Image</b></td>
                                    <td><img src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/noimage.jpg{{/if}}"/></td>
                                </tr>                -->
                <tr>
                    <td><b>Created at</b></td>
                    <td>{{meteorisFormatter "dateTime" createdAt}}</td>
                </tr>                
                <tr>
                    <td><b>Updated at</b></td>
                    <td>{{meteorisFormatter "dateTime" updatedAt}}</td>
                </tr>                
                <tr>
                    <td><b>Created by</b></td>
                    <td>{{createdUser.profile.name}}</td>
                </tr>                
                <tr>
                    <td><b>Updated By</b></td>
                    <td>{{updatedUser.profile.name}}</td>
                </tr>                
            </tbody>
        </table>        
        {{/with}}
    </div>
</template>