<template name="templateBasicFooter">
    <footer class="meteoris-footer">
        <div class="container text-center">
            <span class="copyright">copyright &copy; 
                <a href="http://www.piyiku.biz" target="_blank">PT. Piyiku Global Sinergi</a>. 
                <br/>Powered by <a href="https://github.com/radiegtya/meteoris" target="_blank">Meteoris</a>, 
                a <a href="http://meteor.com" target="_blank">Meteor Js</a> Boilerplate</span>
        </div>
    </footer>
</template>