<template name="replacementUpdate">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'replacementIndex'}}">Replacement</a></li>
            <li class="active">update</li>
        </ol>

        <div id="basic-form">
            <div class="title">
                <h3 class="pull-left">Update Replacement</h3>
            </div>
            <div class="clearfix"></div>

            {{> replacement_form model}}  
        </div>        
    </div>
</template>