<template name="replacementView">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">{{_ "Home"}}</a></li>
            <li><a href="{{pathFor 'replacementIndex'}}">{{_ "Replacement"}}</a></li>
            <li class="active">{{_ "View"}}</li>
        </ol>

        {{#with model}}
        <div class="title">
            <h3 class="pull-left">{{_ "View"}} {{_ "Replacement"}} #{{_id}}</h3>
            <div class="toolbar pull-right">
                <a href="{{pathFor 'replacementIndex'}}" class="btn btn-default">{{_ "Back"}}</a> 
                <a href="{{pathFor 'replacementUpdate'}}" class="btn btn-info">{{_ "Update"}}</a>
                <a id="btnRemove" class="btn btn-danger">{{_ "Remove"}}</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <table class="table">
            <tbody>
                [trFields]
<!--                <tr>
                    <td><b>Image</b></td>
                    <td><img src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/noimage.jpg{{/if}}"/></td>
                </tr>                -->
                <tr>
                    <td><b>{{_ "Created at"}}</b></td>
                    <td>{{meteorisFormatter "dateTime" createdAt}}</td>
                </tr>                
                <tr>
                    <td><b>{{_ "Updated At"}}</b></td>
                    <td>{{meteorisFormatter "dateTime" updatedAt}}</td>
                </tr>                
                <tr>
                    <td><b>{{_ "Created by"}}</b></td>
                    <td>{{createdUser.profile.name}}</td>
                </tr>                
                <tr>
                    <td><b>{{_ "Updated By"}}</b></td>
                    <td>{{updatedUser.profile.name}}</td>
                </tr>                
            </tbody>
        </table>        
        {{/with}}
    </div>
</template>