<template name="workshopsView">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'workshopsIndex'}}">Workshops</a></li>
            <li class="active">view</li>
        </ol>

        {{#with model}}
        <div class="title">
            <h3 class="pull-left">View Workshops #{{_id}}</h3>
            <div class="toolbar pull-right">
                <a href="{{pathFor 'workshopsIndex'}}" class="btn btn-default">Back</a> 
                <a href="{{pathFor 'workshopsUpdate'}}" class="btn btn-info">Update</a>
                <a id="btnRemove" class="btn btn-danger">Remove</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Nama</b></td>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <td><b>Keterangan</b></td>
                    <td>{{{summary}}}</td>
                </tr>
                <tr>
                    <td><b>Aktifkan</b></td>
                    <td>{{isActiveBahasa}}</td>
                </tr>

                <!--                <tr>
                                    <td><b>Image</b></td>
                                    <td><img src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/noimage.jpg{{/if}}"/></td>
                                </tr>                -->
                <tr>
                    <td><b>Created at</b></td>
                    <td>{{meteorisFormatter "dateTime" createdAt}}</td>
                </tr>                
                <tr>
                    <td><b>Updated at</b></td>
                    <td>{{meteorisFormatter "dateTime" updatedAt}}</td>
                </tr>                
                <tr>
                    <td><b>Created by</b></td>
                    <td>{{createdUser.profile.name}}</td>
                </tr>                
                <tr>
                    <td><b>Updated By</b></td>
                    <td>{{updatedUser.profile.name}}</td>
                </tr>                
            </tbody>
        </table>        
        {{/with}}

        <hr/>                

        <div class="title">
            <h3 class="pull-left">Manage Pembicara</h3>
        </div>        
        {{> workshopsSpeakers_form}}
        <div class="clearfix"></div>

        {{#if isEmptyWorkshopsSpeakers}}
        <p>No Data Found</p>
        {{else}}
        <div class=" table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 30px;"><input type="checkbox" id="checkAll"/></th>                        
                        <th id="btnSortspeakerId" class="{{meteorisGridViewSortClass 'speakerId'}}">Nama</th>
                        <th>Jabatan</th>                    
                        <th>Foto</th>                    
                        <th>Created by</th>                    
                        <th style="width: 145px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each workshopsSpeakers}}
                    <tr>
                        {{#with speaker}}
                        <td><input type="checkbox" class="checkAll" value="{{_id}}"/></td>
                        <td>{{name}}</td>
                        <td>{{position.name}}</td>
                        <td><img class="image" src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/noimage.jpg{{/if}}"/></td>
                        <td>{{createdUser.profile.name}}</td>
                        {{/with}}
                        <td>
                            <a id="btnRemoveWorkshopSpeaker" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>                    
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{#if hasMoreWorkshopsSpeakers}}
        <a class="btn btn-default load-more btn-block" href="{{hasMore}}">Load More ...</a>
        {{/if}}
        {{#unless ready}}
        {{> spinner}}
        {{/unless}}
        {{/if}}

        <hr/>                

        <div class="title">
            <h3 class="pull-left">Manage Unduhan</h3>
        </div>        
        {{> downloads_form}}
        <div class="clearfix"></div>

        {{#if isEmptyDownloads}}
        <p>No Data Found</p>
        {{else}}
        <div class=" table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 30px;"><input type="checkbox" id="checkAll"/></th>       
                        <th id="btnSortfileId" class="{{meteorisGridViewSortClass 'fileId'}}">File</th>
                        <th id="btnSortname" class="{{meteorisGridViewSortClass 'name'}}">Nama</th>                        
                        <th>Created by</th>                    
                        <th style="width: 145px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each downloads}}
                    <tr>
                        <td><input type="checkbox" class="checkAll" value="{{_id}}"/></td>
                        <td><a href="{{file.url}}">{{file.name}}</a></td>
                        <td>{{name}}</td>                        
                        <td>{{createdUser.profile.name}}</td>
                        <td>
                            <a id="btnRemoveDownload" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{#if hasMoreDownloads}}
        <a class="btn btn-default load-more btn-block" href="{{hasMore}}">Load More ...</a>
        {{/if}}
        {{#unless ready}}
        {{> spinner}}
        {{/unless}}
        {{/if}}
        
        <hr/>
        
        <div class="title">
            <h3 class="pull-left">Manage Galeri</h3>
        </div>
        {{> galleries_form}}
        <div class="clearfix"></div>

        {{#if isEmptyGalleries}}
        <p>No Data Found</p>
        {{else}}
        <div class=" table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 30px;"><input type="checkbox" id="checkAll"/></th>                        
                        <th id="btnSortimageId" class="{{meteorisGridViewSortClass 'imageId'}}">Gambar</th>
                        <th>Created by</th>                    
                        <th style="width: 145px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each galleries}}
                    <tr>
                        <td><input type="checkbox" class="checkAll" value="{{_id}}"/></td>
                        <td><img class="image" src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/noimage.jpg{{/if}}"/></td>
                        <td>{{createdUser.profile.name}}</td>
                        <td>
                            <a id="btnRemoveGallery" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{#if hasMoreGalleries}}
        <a class="btn btn-default load-more btn-block" href="{{hasMore}}">Load More ...</a>
        {{/if}}
        {{#unless ready}}
        {{> spinner}}
        {{/unless}}
        {{/if}}
    </div>
</template>