/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 24, 2014, 1:38:01 PM
    Author     : Shepherd
*/
@font-face{
    font-family: 'Oswald';
    src: url(../../../font/oswald/Oswald-Regular.otf);
}
@font-face{
    font-family: 'Oswald';
    font-weight: 700;
    src: url(../../../font/oswald/Oswald-Bold.otf);
}
html, body{
    position: relative;
    min-height: 100%;
}
.content{
    position: relative;
    min-height: calc(100% - 65px);
}


nav.navbar{
    background: #3C2F34;
    min-height: 62px;
    border-radius: 0;
}
nav.navbar .navbar-brand{
    text-transform: uppercase;
    font-family: 'Oswald';
    letter-spacing: 5px;
}
nav.navbar .navbar-brand,
nav.navbar .navbar-nav>li>a{

    color: rgba(255,255,255,0.8);
    line-height: 32px;
    height: auto;
}
nav.navbar .navbar-brand:hover,
nav.navbar .navbar-brand:active,
nav.navbar .navbar-nav>li>a:hover,
nav.navbar .navbar-nav>li>a:active
{
    color: #FC611F;
}
nav.navbar .navbar-brand img{
    width: 40px;
    margin-top: -10px;
}
.title{
    float: left;
    width: 100%;
}
.title h3{
    display: inline-block;
    margin-top: 0;
}


.toolbar{
    float: left;
    width: 100%;
    margin-bottom: 20px
}
.toolbar .quick-search{
    width: 250px;
}
.toolbar .input-group .form-control{
}




.table .buttons{
    text-align: right;
}
.table .buttons .btn{
}

.tab-content{
    padding: 30px 0;
}

.table thead th{
    position: relative;
}
.table thead th.ascending:after{
    position: relative;
    top: -12px;
    margin-left: 5px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3.5px 7px 3.5px;
    border-color: transparent transparent #222 transparent;
}
.table thead th.descending:after{
    position: relative;
    top: 12px;
    margin-left: 5px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 3.5px 0 3.5px;
    border-color: #222 transparent transparent transparent;
}
.table .filter input{
    width: calc(100% - 10px);
    overflow: hidden;
    margin: 5px;
}
.form-control,
.btn{
    border-radius: 3px !important;
}
.input-lg, .btn-lg{
    padding: 15px !important;
    height: auto;
}



.divider-or{
    position: relative;
    padding: 20px 0 30px 0;
}
.divider-or:before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #ddd;
    z-index: 2;
    left: 0;
}
.divider-or:after{
    content: 'OR';
    padding: 0 20px 0 20px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    background: #fff;
    z-index: 3;
    color: #ccc;
}


.load-more{
    margin-top: -10px !important;
    margin-bottom: 20px;
}

.logo{
    text-transform: uppercase;
    font-family: 'Oswald';
    letter-spacing: 5px;
}
.logo img{
    width: 70px;
    height: 70px;
    position: relative;
    top: -10px;
}

.sign-form p a{
    font-size: 110%;
    text-decoration: underline;
    color: #666;
}
.btn-red{
    background: #e44b3c;
}


footer{
    margin: 20px 0 5px;
    height: 40px;
    overflow: hidden;
    font-size: 90%;
}
.footer span{
    display: inline-block;
    line-height: 20px;
    padding: 0;
    color: #999;
}
footer a{
    color: #666;
    text-decoration: underline;
}