<template name="sitesIndex_id">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">{{_ "Home"}}</a></li>            
            <li class="active">{{_ "index"}}</li>
        </ol>
        
        <h2>{{welcomeMessage}}</h2>
        
        <div class="alert alert-success">Selamat datang di Meteoris!.
        </div>
        
        <p>Silakan cek demo <a href="{{pathFor 'postsIndex'}}">{{_ "Posts"}}</a> untuk memahami alur Meteoris.
        </p>

        <p>Untuk detail selengkapnya, silakan buka dokumentasi di <a href="http://avocadofloat.com/publicDocs/index/Ku9o2ZJS9k3nPZtzy" target="_blank"></a>.
        </p>

        <p>Silakan email saya <a href="mailto:radiegtya@yahoo.co.id">radiegtya@yahoo.co.id</a>, atau, jika Anda menemukan bug dsb. Silakan laporkan di <a href="https://github.com/radiegtya/meteoris" target="_blank">https://github.com/radiegtya/meteoris.</a>
        </p>
    </div>
</template>
